[Unit]
Description=SearXNG search engine
After=valkey.service
Requires=valkey.service

[Container]
AddCapability=CHOWN SETGID SETUID
ContainerName=searxng
DropCapability=ALL
Environment=SEARXNG_BASE_URL=http://localhost:8080/
Environment=SEARXNG_SECRET_KEY=${SEARXNG_SECRET_KEY:-changeme}
Image=docker.io/searxng/searxng:latest
Network=searxng.network
PublishPort=8080:8080
Volume=REPO_DIR/docker/searxng/searxng/settings.yml:/etc/searxng/settings.yml:Z
Volume=REPO_DIR/docker/searxng/searxng/limiter.toml:/etc/searxng/limiter.toml:Z
Volume=searxng-data:/var/cache/searxng

[Service]
Restart=always

[Install]
WantedBy=default.target
